POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-postgres-password
JWT_ISSUER=EmployeeManagmentSystem
JWT_AUDIENCE=EmployeeManagmentSystem.Client
JWT_SIGNING_KEY=change-this-signing-key-to-at-least-32-characters
JWT_EXPIRATION_MINUTES=60
INITIAL_USER_CODE=USR-ADMIN
INITIAL_USER_LOGIN=admin
INITIAL_USER_PASSWORD=change-this-initial-password
